body {
    background-color: rgb(186, 190, 190);
}


.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
}